.homepic {
  position: relative;
  text-align: center;
  color: white;
}

.homepic img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.homepic h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeinfo {
  width: 55%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 200px;
 }

 .apropos {
  font-size: 34px;
 }

 .homeinfo p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
 }

 .activites {
  margin-left: 60px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
 }

.activites > li {
  // border: 1px solid #E2E2E2;
  list-style-type: none;
  display: flex;
  // justify-content: center;
  margin-bottom: 30%;
}

 .card {
 }

.activite {
}

.lft-images {
  display: flex;
}

.over-image {
  object-fit: cover;
  height: 350px;
  width: 280px;
}

.back-image {
  object-fit: cover;
  position: relative;
  opacity: 50%;
  z-index: -1;
  right: 140px;
  bottom: 40px;
  height: 350px;
  width: 280px;
}

.right-infos p{
}

.right-infos {
  width: 70%;
}
