.tarifs-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: $green;
}

.tarif-infos {
  padding-top: 80px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.tarif-info {
  margin-bottom: 60px;
  text-align: center;
  line-height: 2;
}

.tarif-div{
  text-align: center;
}
.t-infos {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.saison-card {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px !important;
  margin-bottom: 60px;
}

.saison-card img {
  height: 64vh;
  width: 40%;
}

.mi-saison_text {
  text-align: center;
}

.pair-infos{
  position: relative;
  top: 35%;
  margin-bottom: 60px;
  line-height: 0.8;
}

.last{
  margin-bottom: 80px !important;
}

.pair-infos p {
  font-size: 26px;
}

.tarif-info > h2 {
  margin-bottom: 24px;
}

.tarif-div > h2 {
  margin-bottom: 24px;
}

@media only screen and (max-width: 800px) {
  .saison-card img {
    height: 54vh;
  }

  .pair-infos{
    top: 28%;
  }
}
