.tarifs-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.tarif-infos {
  padding-top: 80px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.tarif-info {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  line-height: 2;
}

.tarif-div{
  text-align: center;
}
.t-infos {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.saison-card {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.saison-card img {
  height: 80vh;
  width: 40%;
}

.mi-saison_text {
  text-align: center;
}

.pair-infos{
  position: relative;
  top: 45%;
  margin-bottom: 60px;
  line-height: 0.8;
}

.pair-infos p {
  font-size: 26px;
}
