<div class="footer">
  <div class="footer-flex">
    <div class="footer-infos">
      <p>Pour nous contacter</p>
      <p>jescoffres@gmail.com + 06 46 34 67 36</p>
      <p>Baerenthal, Grand Est</p>
    </div>
    <div class="right-footer">
    <p class="plusinfos">Pour plus d'informations</p>
    <div class="footer-links">
      <a href="https://www.facebook.com/giteoursvert/" target="_blank">Facebook</a>
      <p class="plus">+</p>
      <a href="https://www.tourisme-paysdebitche.fr/index.php?lang=2" target="_blank">OT Bitche</a>
      <p class="plus">+</p>
      <a href="https://www.niederbronn.com/" target="_blank">OT Niederbronn</a>
      <p class="plus">+</p>
      <a href="https://www.youtube.com/watch?v=ddKefWgvtZ8" target="_blank">La région avec Bruno Maltor</a>
    </div>
    </div>
  </div>
  <p class="mentions">Mentions légales</p>
</div>
