<div class="homepic">
  <img src="https://cdn.pixabay.com/photo/2019/07/08/14/17/water-4324860_960_720.jpg" alt="Ourvert">
  <h1>Culture et patrimoine</h1>
</div>
<!-- <p class="nat-info">Découvrez les chateaux  et citadelles de la région</p> -->
<h1 class="mil-h1">Histoire militaire</h1>
<p class="mil-p">Les passionnés d’histoire militaire pourront s’immerger dans le passé historique de notre région :</p>
<div class="histoire-mil">
  <div class="text-img testone">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586274848/Ours%20vert/Simerhof_otl9m3.jpg" alt="horiz" class="horiz">
    <div class="centered2">La visite de la Citadelle de Bitche (véritable chef d’œuvre de l’histoire militaire) et du Jardin pour la Paix sont des visites incontournables.</div>
  </div>
  <div class="right text-img">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586274843/Ours%20vert/28739663_fmyf3e.jpg" alt="vert" class="vert">
    <div class="centered">Les ouvrages de la ligne Maginot tels que le Simserhof à Sierstahl (l’un des plus importants ouvrages de la ligne Maginot), le Fort Casso à Rohrbach-les-Bitche et la casemate de Dambach-Nord méritent également une visite</div>
  </div>
</div>
<div class="ruines">
  <h1>Ruines</h1>
  <p>De nombreuses ruines de châteaux forts situés sur des promontoires rocheux sont accessibles par des routes forestières ou pédestres et vous permettent de bénéficier de magnifiques points de vue et de panoramas à 360 ° (des 2 côtés de la frontière, côté français et allemand).</p>
  <p class="cote-mos">Côté Mosellan</p>
  <div class="ruines-cards">
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275655/Ours%20vert/Ramstein_mtbeh2.jpg" alt="">
      <div class="txt-ruine">Ruines du château du Ramstein à Baerenthal (à 3 kms de « l’Ours Vert»)</div>
    </div>
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275665/Ours%20vert/Falkenstein_tp5jwc.jpg" alt="">
      <div class="txt-ruine">Le château du Falkenstein à Philippsbourg qui date du 12ème siècle</div>
    </div>
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275650/Ours%20vert/Waldeck_ceu53c.jpg" alt="">
      <div class="txt-ruine">Les ruines du Waldeck à Eguelshardt</div>
    </div>
  </div>
  <p class="cot-als">Du côté Alsacien </p>
  <div class="ruines-cards">
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275657/Ours%20vert/Fleckenstein_ekv2ll.jpg" alt="">
      <div class="txt-ruine">Le château fort de Fleckenstein</div>
    </div>
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275663/Ours%20vert/Weinstein_q6fapo.jpg" alt="">
      <div class="txt-ruine">Les ruines du Nouveau et du Vieux Winstein</div>
    </div>
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275647/Ours%20vert/la-tour-du-grand-wintersberg_wyperx.jpg" alt="">
      <div class="txt-ruine">La tour panoramique du grand Wintersberg (à 581 m d’altitude) domine Niederbronn-les-Bains et la plaine d’Alsace. Elle se trouve au pied du camp celtique.</div>
    </div>
  </div>
</div>
<h1 class="art-h1">L'Artisanat</h1>
<p class="crist-p">Cristalleries ...</p>
<div class="grid-crist">
  <div class="text-img">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276529/Ours%20vert/Meisenthaal_verre_itnfva.jpg" alt="" class="lft-crist">
    <div class="centered">Site Verrier de Meisenthal</div>
  </div>
  <div class="right-crist">
    <div class="text-img">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276533/Ours%20vert/Saint-Louis-le%CC%80s-Bitche_okir7t.jpg" alt="" class="top-right">
      <div class="centered">Cristallerie de Saint-Louis-Lès-Bitche</div>
    </div>
    <div class="bottoms">
      <div class="text-img">
        <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276534/Ours%20vert/Lemberg_zxfmfz.jpg" alt="" class="bottom-right bottom-right2">
        <div class="centered">Cristallerie de Lemberg</div>
      </div>
      <div class="text-img">
        <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276531/Ours%20vert/Musee_lalique_jpurar.jpg" alt="" class="bottom-right">
        <div class="centered">Musée Lalique</div>
      </div>
    </div>
  </div>
</div>
<p class="aussi">Mais aussi ...</p>
<div class="grid-aussi">
  <div class="lft-aussi">
    <div class="text-img">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276920/Ours%20vert/Jm_lbel_ekap1q.jpg" alt="" class="mgn-aussi">
      <div class="centered">Le Bois en Lumière</div>
    </div>
    <div class="text-img">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276533/Ours%20vert/Saboterie_nphsyz.jpg" alt="">
      <div class="centered">Saboterie Petrazoller</div>
    </div>
  </div>
  <div class="text-img">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276527/Ours%20vert/Poterie_tkc3pm.jpg" class="rgt-aussi" alt="">
    <div class="centered">Poterie du Hérisson à Philippsbourg </div>
  </div>
</div>
<!-- <div id="map"></div> -->
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoicm9tYWluLWh0bnIiLCJhIjoiY2s3dzV6czl0MDBzbjNlcXY0NXZodTM2diJ9.nyFKf_Gvli6U4lvSGUpaNw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [7.491797924041748, 48.98330307006836], // starting position [lng, lat]
zoom: 13 // starting zoom
});
map.on('load', function() {
map.loadImage(
'https://res.cloudinary.com/dgpkng6h9/image/upload/v1584633430/Ours%20vert/map-marker-512_nyk9ds.png',
function(error, image) {
if (error) throw error;
map.addImage('pointer', image);
map.addSource('point', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{
'type': 'Feature',
'geometry': {
'type': 'Point',
'coordinates': [7.491797924041748, 48.98330307006836]
}
}
]
}
});
map.addLayer({
'id': 'points',
'type': 'symbol',
'source': 'point',
'layout': {
'icon-image': 'pointer',
'icon-size': 0.08
}
});
}
);
});
</script>
