<div class="homepic">
  <img src="https://cdn.pixabay.com/photo/2019/07/08/14/17/water-4324860_960_720.jpg" alt="Ourvert">
  <h1>Culture et patrimoine</h1>
</div>
<p class="nat-info">Découvrez les chateaux  et citadelles de la région</p>
<div id="map"></div>
<h1 class="mil-h1">Histoire militaire</h1>
<p class="mil-p">Les passionnés d’histoire militaire pourront s’immerger dans le passé historique de notre région :</p>

<div class="histoire-mil">

 <!--  <div class="lft-mil"> -->
    <!-- <div class="txt-mil">
      <p>Les passionnés d’histoire militaire pourront s’immerger dans le passé historique de notre région :</p>
    </div> -->
  <div class="text-img testone">
    <img src="https://cdn.pixabay.com/photo/2019/02/18/19/59/way-4005288_960_720.jpg" alt="horiz" class="horiz">
    <div class="centered">La visite de la Citadelle de Bitche (véritable chef d’œuvre de l’histoire militaire) et du Jardin pour la Paix sont des visites incontournables.</div>
  </div>
  <!-- </div> -->
  <div class="right text-img">
    <img src="https://cdn.pixabay.com/photo/2020/01/05/19/59/ascona-4743964_960_720.jpg" alt="vert" class="vert">
    <div class="centered">Les ouvrages de la ligne Maginot tels que le Simserhof à Sierstahl (l’un des plus importants ouvrages de la ligne Maginot), le Fort Casso à Rohrbach-les-Bitche et la casemate de Dambach-Nord méritent également une visite</div>
  </div>
</div>


<div class="ruines">
  <h1>Ruines</h1>
  <p>De nombreuses ruines de châteaux forts situés sur des promontoires rocheux sont accessibles par des routes forestières ou pédestres et vous permettent de bénéficier de magnifiques points de vue et de panoramas à 360 ° (des 2 côtés de la frontière, côté français et allemand).</p>
  <p>Côté Mosellan</p>
  <!-- SMALLER CARDS HERE FOR 3 RUINES -->
  <div class="ruines-cards">
    <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">Ruines du château du Ramstein à Baerenthal (à 3 kms de « l’Ours Vert»)</div>
  </div>
  <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">Le château du Falkenstein à Philippsbourg qui date du 12ème siècle</div>
  </div>
  <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">Les ruines du Waldeck à Eguelshardt</div>
  </div>
    <!-- effet HOVER text -->
  </div>

  <p class="cot-als">Du côté Alsacien </p>
  <!-- SMALLER CARDS HERE FOR 3 RUINES -->
 <div class="ruines-cards">
  <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">Le château fort de Fleckenstein</div>
  </div>
  <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">Les ruines du Nouveau et du Vieux Winstein</div>
  </div>
  <div class="text-ruines">
    <img src="https://cdn.pixabay.com/photo/2016/01/11/18/20/city-1134141_960_720.jpg" alt="">
    <div class="txt-ruine">La tour panoramique du grand Wintersberg (à 581 m d’altitude) domine Niederbronn-les-Bains et la plaine d’Alsace. Elle se trouve au pied du camp celtique.</div>
  </div>
   <!-- effet HOVER text -->
  </div>
</div>

<div class="artisanat">
  <h1>L'artisanat</h1>
  <h2>Cristallerie</h2>
  <p>Le Pays de Bitche est souvent appelé le pays du Verre car de nombreuses cristalleries y ont été créées et existent toujours. Vous pouvez les visiter, assister à des démonstrations de ce savoir-faire ancestral et acheter des créations originales : </p>
<!--  4 cristalleries ici -->
  <h2> Autres </h2>
  <!-- 3 cards ici  -->
</div>




<!-- <div class="nature-cards">
  <div class="nature-card">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1584545903/Ours%20vert/hiker-918704_1920_ir1rwt.jpg" alt="randonneur">
    <div class="text-card">
      <h2>Randonnées pédestres ou à vélo</h2>
      <p>Vous aimez marcher : vous aurez de quoi faire : des centaines de kilomètres de sentiers ont été balisés pas le club vosgien et sont accessibles directement depuis notre meublé
        <br> Vous préférez les randonnées VTT, des kms de chemins VTT dans la forêt vous attendent et les amoureux du vélo de route ne seront pas en reste avec des circuits superbes
      </p>
    </div>
  </div>
  <div class="nature-card">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1584545906/Ours%20vert/pedalo_xbubsa.jpg" alt="pedalo">
    <div class="text-card">
      <h2>Activités aquatiques</h2>
      <p>De nombreux étangs de baignade (le plus proche à seulement 2,5 kms de "l’Ours Vert") vous permettront de vous baigner en toute sécurité (étang du Ramstein, étang du Hanau, base de loisirs de Haspelschiedt et de Haselfurth). <br>
        Un étang de pêche est accessible à 1 km. <br> Vous avez besoin de détente : les sources thermales de Niederbronn-les-Bains vous accueillent pour un moment de bien être (SPA, soins du corps et du visage, massages …)
      </p>
    </div>
  </div>
  <div class="nature-card">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1584545896/Ours%20vert/accrobranche_r51ekx.jpg" alt="escale">
    <div class="text-card">
      <h2>Escalade et accrobranche</h2>
      <p>Vous aimez les sensations fortes : des rochers d’escalade ont été aménagés (rochers du Waldeck et du Sandkopf à Eguelshardt et les rochers du Philippsfels et du Landersberg à Philippsbourg) ainsi qu’un parcours dans les arbres pour les petits et les grands (Tepacap) à Bitche.</p>
    </div>
  </div>
  <div class="nature-card">
    <img src="https://cdn.pixabay.com/photo/2015/11/07/11/14/camera-1030956_960_720.jpg" alt="photographie">
    <div class="text-card">
      <h2>Observation fone et flore / photographie</h2>
      <p>Un observatoire ornithologique permet d’observer des espèces d’oiseaux variés à seulement 200 m de "l’Ours Vert" et de les photographier. <br> De nombreux rochers de grès rouge en pleine forêt offrent des décors magiques pour des prises de vue superbes comme les Altschlossfelsen également appelé "le Colorado du Pays de Bitche". <br>
      La Réserve Naturelle des Rochers et Tourbières du Pays de Bitche est également un espace unique pour les photographes et les amoureux de la faune et de la flore.</p>
    </div>
  </div>
</div>-->

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoicm9tYWluLWh0bnIiLCJhIjoiY2s3dzV6czl0MDBzbjNlcXY0NXZodTM2diJ9.nyFKf_Gvli6U4lvSGUpaNw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [7.491797924041748, 48.98330307006836], // starting position [lng, lat]
zoom: 13 // starting zoom
});
map.on('load', function() {
map.loadImage(
'https://res.cloudinary.com/dgpkng6h9/image/upload/v1584633430/Ours%20vert/map-marker-512_nyk9ds.png',
function(error, image) {
if (error) throw error;
map.addImage('pointer', image);
map.addSource('point', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{
'type': 'Feature',
'geometry': {
'type': 'Point',
'coordinates': [7.491797924041748, 48.98330307006836]
}
}
]
}
});
map.addLayer({
'id': 'points',
'type': 'symbol',
'source': 'point',
'layout': {
'icon-image': 'pointer',
'icon-size': 0.08
}
});
}
);
});
</script>
