<div class="homepic">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837523/Ours%20vert/News/Culture%20et%20patrimoine/Citadelle_Bitche_Gilles_PecqueurS_zcme13.jpg" alt="Ourvert">
  <h1 class="cp-header blue">CULTURE ET PATRIMOINE</h1>
</div>
<div class="ruines">
  <h1>Ruines</h1>
  <p>De nombreuses ruines de châteaux forts situés sur des promontoires rocheux sont accessibles par des routes forestières ou pédestres et vous permettent de bénéficier de magnifiques points de vue et de panoramas à 360 ° (des 2 côtés de la frontière, côté français et allemand).</p>
  <p class="cote-mos">Côté Mosellan</p>
  <div class="ruines-cards">
    <div id="carousel-1" class="text-ruines carousel carousel-card slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592984462/Ours%20vert/News/Culture%20et%20patrimoine/lezbroz_ramstein_1_afrt8j.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837704/Ours%20vert/News/Culture%20et%20patrimoine/Ramstein_ohzyu5.jpg" alt="Second slide">
        </div>
      </div>
      <div class="txt-ruine">Ruines du château du Ramstein à Baerenthal (à 3 kms de « l’Ours Vert»)</div>
      <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="text-ruines">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837702/Ours%20vert/News/Culture%20et%20patrimoine/Falkenstein_Gilles_Pecqueur_pdjzfz.jpg" alt="">
      <div class="txt-ruine">Le château du Falkenstein à Philippsbourg qui date du 12ème siècle</div>
    </div>
    <div id="carousel-2" class="text-ruines carousel carousel-card slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586275650/Ours%20vert/Waldeck_ceu53c.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593008754/Ours%20vert/News/Culture%20et%20patrimoine/Waldeck_Gilles_Pecqueur_4_w02amt.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837710/Ours%20vert/News/Culture%20et%20patrimoine/Waldeck_nqimub.jpg" alt="Second slide">
        </div>
      </div>
      <div class="txt-ruine">Les ruines du Waldeck à Eguelshardt</div>
      <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <p class="cot-als">Du côté Alsacien </p>
  <div class="ruines-cards">
    <div id="carousel-3" class="text-ruines carousel carousel-card slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837708/Ours%20vert/News/Culture%20et%20patrimoine/Fleckenstein1_zdaejw.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837705/Ours%20vert/News/Culture%20et%20patrimoine/Fleckenstein2_wuqvre.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837700/Ours%20vert/News/Culture%20et%20patrimoine/Fleckenstein_agnufq.jpg" alt="Second slide">
        </div>
      </div>
      <div class="txt-ruine">Le château fort de Fleckenstein</div>
      <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="carousel-4" class="text-ruines carousel carousel-card slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837713/Ours%20vert/News/Culture%20et%20patrimoine/Cha%CC%82teauLichtenberg_x7vsgu.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837712/Ours%20vert/News/Culture%20et%20patrimoine/Cha%CC%82teauLichtenberg1_cq0dkc.jpg" alt="Second slide">
        </div>
      </div>
      <div class="txt-ruine">Le château de Lichtenberg : imposant château fort médiéval</div>
      <a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<h1 class="mil-h1" id="test-typo">Histoire militaire</h1>
<p class="mil-p">Les passionnés d’histoire militaire pourront s’immerger dans le passé historique de notre région...</p>
<div class="histoire-mil">
  <div class="text-img testone">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1592837541/Ours%20vert/News/Culture%20et%20patrimoine/lezbroz_simserhof_13_S_hwthmu.jpg" alt="horiz" class="horiz">
    <div class="centered2">Les ouvrages de la ligne Maginot tels que le Simserhof à Sierstahl (l’un des plus importants ouvrages de la ligne Maginot), le Fort Casso à Rohrbach-les-Bitche et la casemate de Dambach-Nord méritent une visite.</div>
  </div>
  <div class="right text-img">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593011011/Ours%20vert/News/Culture%20et%20patrimoine/Bitche_Citadelle_Gilles_Pecqueur_18_c3k70m.jpg" alt="vert" class="vert">
    <div class="centered">La visite de la Citadelle de Bitche (véritable chef d’œuvre de l’histoire militaire) et du Jardin pour la Paix sont des visites incontournables.</div>
  </div>
</div>
<h1 class="art-h1">L'Artisanat</h1>
<p class="crist-p">Cristalleries ...</p>
<div class="grid-crist">
  <div class="text-img">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276529/Ours%20vert/Meisenthaal_verre_itnfva.jpg" alt="" class="lft-crist">
    <div class="centered">Site Verrier de Meisenthal</div>
  </div>
  <div class="right-crist">
    <div class="text-img">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276533/Ours%20vert/Saint-Louis-le%CC%80s-Bitche_okir7t.jpg" alt="" class="top-right">
      <div class="centered">Cristallerie de Saint-Louis-Lès-Bitche</div>
    </div>
    <div class="bottoms">
      <div class="text-img">
        <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276534/Ours%20vert/Lemberg_zxfmfz.jpg" alt="" class="bottom-right bottom-right2">
        <div class="centered">Cristallerie de Lemberg</div>
      </div>
      <div class="text-img">
        <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276531/Ours%20vert/Musee_lalique_jpurar.jpg" alt="" class="bottom-right">
        <div class="centered">Musée Lalique</div>
      </div>
    </div>
  </div>
</div>
<p class="aussi">Mais aussi ...</p>
<div class="aussi-container">
  <div class="aussi-card">
    <p>Le Bois en Lumière à Baerenthal : votre hôte Jean-Marie Escoffres est sculpteur sur bois</p>
    <%= link_to 'https://www.facebook.com/leboisenlumiere/', target: '_blank' do %>
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586276920/Ours%20vert/Jm_lbel_ekap1q.jpg" alt="">
    <% end %>
  </div>
  <div class="aussi-card">
    <%= link_to 'https://www.facebook.com/pages/category/Arts---Crafts-Store/Saboterie-Petrazoller-340469026050407/', target: '_blank' do %>
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1594975002/Ours%20vert/SaboteriePetrazoller_pwawwd.jpg" alt="">
    <% end %>
    <p>La saboterie Petrazoller à Philippsbourg</p>
  </div>
  <div class="aussi-card">
    <p>La petite poterie du hérisson à Philippsbourg</p>
      <%= link_to 'https://www.facebook.com/petitepoterieduherisson/', target: '_blank' do %>
        <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593174426/Ours%20vert/PoterieduHe%CC%81risson_hdgtsj.jpg" alt="">
      <% end %>
  </div>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoicm9tYWluLWh0bnIiLCJhIjoiY2s3dzV6czl0MDBzbjNlcXY0NXZodTM2diJ9.nyFKf_Gvli6U4lvSGUpaNw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [7.491797924041748, 48.98330307006836], // starting position [lng, lat]
zoom: 13 // starting zoom
});
map.on('load', function() {
map.loadImage(
'https://res.cloudinary.com/dgpkng6h9/image/upload/v1584633430/Ours%20vert/map-marker-512_nyk9ds.png',
function(error, image) {
if (error) throw error;
map.addImage('pointer', image);
map.addSource('point', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{
'type': 'Feature',
'geometry': {
'type': 'Point',
'coordinates': [7.491797924041748, 48.98330307006836]
}
}
]
}
});
map.addLayer({
'id': 'points',
'type': 'symbol',
'source': 'point',
'layout': {
'icon-image': 'pointer',
'icon-size': 0.08
}
});
}
);
});
</script>
