<div class="homepic">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1586275665/Ours%20vert/Falkenstein_tp5jwc.jpg" alt="Ourvert">
  <h1>L'OURS VERT</h1>
</div>
<div class="homeinfo">
  <h1 class="apropos">A PROPOS</h1>
  <h1 class="lign">-</h1>
  <p>Notre meublé de tourisme l’Ours Vert est situé à Baerenthal (la "<a href="https://www.baerenthal.eu/a-propos/" target="_blank">Vallée de l'Ours</a>") charmant village niché en plein cœur du parc naturel régional des Vosges du Nord (classé réserve mondiale de biosphère par l'UNESCO).
  Sandrine et Jean-Marie vous y accueillent dans un cadre authentique qui vous permet d’accéder directement à des kilomètres de chemins de randonnées balisés dans la forêt sans utiliser votre voiture. <br> <br>
  Il se trouve à égale distance de Bitche en Moselle (15 minutes) et de Niederbronn-les-Bains en Alsace (15 minutes).
  Strasbourg est à 1heure.
  </p>
  <%= link_to "En savoir plus", lemeuble_path, class: "btn" %>
</div>
<div class="activites">
  <!-- <li> -->
    <div class="lft-images">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285392/Ours%20vert/Petit_colorado_qypw3v.jpg" alt="colorado" class="over-image">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285392/Ours%20vert/Petit_colorado_qypw3v.jpg" alt="colorado" class="back-image">
    </div>
  <!-- </li> -->
  <!-- <li > -->
    <div class="right-infos">
      <h1>Nature</h1>
      <p>Appelé "le petit Canda", cet environnement authentique est le lieu idéal des amoureux de la nature en quête d’espaces naturels préservés.
        Sandrine et Jean-Marie vous y accueillent dans une vallée verdoyante entourée de forêts et d’étangs de baignade et de pêche.
      </p>
      <%= link_to "En savoir plus", nature_path, class: "btn" %>
    </div>
  <!-- </li> -->
  <!-- <li > -->
    <div class="right-infos">
      <h1>Culture & patrimoine</h1>
      <p>De nombreuses ruines de châteaux forts situés sur des promontoires rocheux sont accessibles par des routes forestières ou pédestres et vous permettent de bénéficier de magnifiques points de vue et de panoramas à 360 ° (des 2 côtés de la frontière, côté français et allemand).</p>
      <%= link_to "En savoir plus", nature_path, class: "btn" %>
    </div>
  <!-- </li> -->
  <!-- <li> -->
    <div class="lft-images">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285392/Ours%20vert/Chateau_boouzb.jpg" alt="colorado" class="over-image">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285392/Ours%20vert/Chateau_boouzb.jpg" alt="colorado" class="back-image">
    </div>
  <!-- </li> -->
  <!-- <li> -->
    <div class="lft-images">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285390/Ours%20vert/flammekueche_jdcsoa.jpg" alt="colorado" class="over-image">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/q_auto/v1584285392/Ours%20vert/flammekueche_jdcsoa.jpg" alt="colorado" class="back-image">
    </div>
  <!-- </li> -->
  <!-- <li > -->
    <div class="right-infos">
      <h1>Dégustez</h1>
      <p>Que vous ayez envie d’une cuisine traditionnelle (tartes flambées, cuisine du terroir) ou gastronomique, vous trouverez de nombreuses possibilités de vous restaurer à proximité de « l’Ours Vert »...</p>
      <%= link_to "En savoir plus", nature_path, class: "btn" %>
    </div>
  <!-- </li> -->
</div>
