<div class="empty"></div>
<div class="mentions-container">
  <h1>MENTIONS LEGALES</h1>
  <ol>
    <div class="mentions-content">
      <li>Présentation du site</li>
      <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site http://www.ours-vert.com/ l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
      <p>Propriétaire : Sandrine Escoffres – 5, Hammerschless  - 57230 BAERENTHAL</p>
      <p>Créateur : Romain HETHENER – www.romainhethener.com</p>
      <p>Responsable publication : Sandrine ESCOFFRES – jescoffres@gmail.com</p>
      <p>Webmaster : Sandrine ESCOFFRES – jescoffres@gmail.com</p>
      <p>Hébergeur : Namecheap – https://www.namecheap.com</p>
    </div>

     <div class="mentions-content">
      <li>Conditions générales d’utilisation du site et des services proposés</li>
        <p>L’utilisation du site www.ours-vert.com implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site www.ours-vert.com sont donc invités à les consulter de manière régulière.</p>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Sandrine Escoffres, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
        <p>Le site www.ours-vert.com est mis à jour régulièrement par Sandrine ESCOFFRES. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
    </div>

    <div class="mentions-content">
      <li>Description des services fournis</li>
        <p>L’utilisation du site www.ours-vert.com implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site www.ours-vert.com sont donc invités à les consulter de manière régulière.</p>
        <p>Sandrine ESCOFFRES s’efforce de fournir sur le site www.ours-vert.com des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
        <p>Toutes les informations indiquées sur le site www.ours-vert.com sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.ours-vert.com ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
    </div>

    <div class="mentions-content">
      <li>Limitations contractuelles sur les données techniques</li>
        <p>Le site www.ours-vert.com a pour objet de fournir une information concernant le meublé de tourisme l'Ours Vert de Baerenthal (57230).</p>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Sandrine Escoffres, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
        <p>Le site www.ours-vert.com est mis à jour régulièrement par Sandrine ESCOFFRES. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
    </div>

    <div class="mentions-content">
      <li>Propriété intellectuelle et contrefaçons</li>
        <p>Sandrine ESCOFFRES est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
        <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Sandrine ESCOFFRES.</p>
        <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
    </div>

    <div class="mentions-content">
      <li>Limitations de responsabilité</li>
        <p>Sandrine ESCOFFRES ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site www.ours-vert.com, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
        <p>Sandrine ESCOFFRES ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site www.ours-vert.com.</p>
        <p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Sandrine ESCOFFRES se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Sandrine ESCOFFRES se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
    </div>

    <div class="mentions-content">
      <li>Gestion des données personnelles</li>
        <p>En France, les données personnelles sont protégées par le règlement général sur la protection des données (RGPD) (règlement EU 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 applicable à partir du 25 mai 2018)</p>
        <p>Aucune information personnelle de l'utilisateur du site www.ours-vert.com n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. </p>
    </div>

    <div class="mentions-content">
      <li>Liens hypertextes et cookies</li>
        <p>Le site www.ours-vert.com contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Sandrine ESCOFFRES. Cependant, Sandrine ESCOFFRES n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
        <p>La navigation sur le site www.ours-vert.com est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
    </div>

    <div class="mentions-content">
      <li>Droit applicable et attribution de juridiction</li>
      <p>Tout litige en relation avec l’utilisation du site www.ours-vert.com est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents dont dépend le siège social du meublé de tourisme.</p>
    </div>



    <div class="mentions-content">
      <li>Les principales lois concernées</li>
      <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
      <p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
    </div>

    <div class="mentions-content">
      <li>Lexique</li>
      <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
      <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
    </div>
  </ol>
</div>
