<img src="https://cdn.pixabay.com/photo/2016/03/09/09/15/forest-1245692_960_720.jpg" alt="Nature" class="naturepic">
<p class="nat-info">Appelé "le petit Canda", cet environnement authentique est le lieu idéal des amoureux de la nature en quête d’espaces naturels préservés.
Sandrine et Jean-Marie vous y accueillent dans une vallée verdoyante entourée de forêts et d’étangs de baignade et de pêche. </p>

<div class="nature-cards">
<div class="nature-card">
  <img src="https://cdn.pixabay.com/photo/2014/09/21/17/56/wanderer-455338_960_720.jpg" alt="randonneur">
  <div class="text-card">
  <h2>Randonnées pédestres ou à vélo</h2>
  <p>Vous aimez marcher : vous aurez de quoi faire : des centaines de kilomètres de sentiers ont été balisés pas le club vosgien et sont accessibles directement depuis notre meublé
 <br> Vous préférez les randonnées VTT, des kms de chemins VTT dans la forêt vous attendent et les amoureux du vélo de route ne seront pas en reste avec des circuits superbes
  </p>
  </div>
</div>

<div class="nature-card">
  <img src="https://cdn.pixabay.com/photo/2014/09/21/17/56/wanderer-455338_960_720.jpg" alt="randonneur">
  <div class="text-card">
  <h2>Activités aquatiques</h2>
  <p>De nombreux étangs de baignade (le plus proche à seulement 2,5 kms de "l’Ours Vert") vous permettront de vous baigner en toute sécurité (étang du Ramstein, étang du Hanau, base de loisirs de Haspelschiedt et de Haselfurth). <br>
    Un étang de pêche est accessible à 1 km. <br> Vous avez besoin de détente : les sources thermales de Niederbronn-les-Bains vous accueillent pour un moment de bien être (SPA, soins du corps et du visage, massages …)
</p>
  </div>
</div>

<div class="nature-card">
  <img src="https://cdn.pixabay.com/photo/2014/09/21/17/56/wanderer-455338_960_720.jpg" alt="randonneur">
  <div class="text-card">
  <h2>Escalade et accrobranche</h2>
  <p>Vous aimez les sensations fortes : des rochers d’escalade ont été aménagés (rochers du Waldeck et du Sandkopf à Eguelshardt et les rochers du Philippsfels et du Landersberg à Philippsbourg) ainsi qu’un parcours dans les arbres pour les petits et les grands (Tepacap) à Bitche.</p>
  </div>
</div>



<div class="nature-card">
  <img src="https://cdn.pixabay.com/photo/2014/09/21/17/56/wanderer-455338_960_720.jpg" alt="randonneur">
  <div class="text-card">
  <h2>Observation fone et flore / photographie</h2>
  <p>Un observatoire ornithologique permet d’observer des espèces d’oiseaux variés à seulement 200 m de "l’Ours Vert" et de les photographier. <br> De nombreux rochers de grès rouge en pleine forêt offrent des décors magiques pour des prises de vue superbes comme les Altschlossfelsen également appelé "le Colorado du Pays de Bitche". <br>
  La Réserve Naturelle des Rochers et Tourbières du Pays de Bitche est également un espace unique pour les photographes et les amoureux de la faune et de la flore.</p>
  </div>
</div>
</div>
