<div class="homepic">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1584285390/Ours%20vert/flammekueche_jdcsoa.jpg" alt="Ourvert">
  <h1>Restauration</h1>
</div>
<h2 class="toporesto">Que vous ayez envie d’une cuisine traditionnelle (tartes flambées, cuisine du terroir) ou gastronomique, vous trouverez de nombreuses possibilités de vous restaurer à proximité de « l’Ours Vert »...</h2>
<p class="typecuisine">Cuisine traditionnelle</p>
<div class="card-product">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586361296/Ours%20vert/restaurant_du_ramstein_vcjgl3.jpg" />
  <div class="card-product-infos">
    <h2>Restaurant du Ramstein</h2>
    <p>Le restaurant du Ramstein vous accueille sur sa terrasse avec vue sur l’étang de baignade du Ramstein</p>
    <a href="https://www.mosl-tourisme.fr/manger/restaurants/F853142118_restaurant-brasserie-ramstein-plage-baerenthal.html" class="siteresto" target="_blank">En savoir plus</a>
  </div>
  <div class="drive">
    <p>A 2,3 kms</p>
  </div>
</div>
<div class="card-product">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586361295/Ours%20vert/La_petite_suisse_tv3wms.jpg"/>
  <div class="card-product-infos">
    <h2>La petite Suisse</h2>
    <p>Cuisine traditionnelle et généreuse</p>
    <a href="http://www.lapetitesuisse.fr/" class="siteresto" target="_blank">En savoir plus</a>
  </div>
  <div class="drive">
    <p>A 4,2 kms</p>
  </div>
</div>
<div class="card-product">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586361296/Ours%20vert/La_voile_blanche_jkrb7u.jpg"/>
  <div class="card-product-infos">
    <h2>Restaurant de la Voile Blanche</h2>
    <p>Une cuisine authentique et généreuse</p>
    <a href="https://lavoileblanche-hanau.com/" class="siteresto" target="_blank">En savoir plus</a>
  </div>
  <div class="drive">
    <p>A 4,5 kms</p>
  </div>
</div>
<p class="typecuisine">Cuisine gastronomique</p>
<div class="card-product">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586361296/Ours%20vert/L_arnsbourg_pobois.jpg"/>
  <div class="card-product-infos">
    <h2>L’Arnsbourg</h2>
    <p>Cuisine d'exception dans un cadre d'exception</p>
    <a href="https://www.arnsbourg.com/fr/" class="siteresto" target="_blank">En savoir plus</a>
  </div>
  <div class="drive">
    <p>A 5,4 kms</p>
  </div>
</div>
<div class="card-product">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1586361295/Ours%20vert/akcias_zycquw.jpg" />
  <div class="card-product-infos">
    <h2>Les Akcias</h2>
    <p>Cuisine traditionnelle, raffinée et généreuse parsemée d’une touche de soleil apporté de la Côte d’Azur et de l’Italie…</p>
    <a href="http://www.les-akcias.fr/" class="siteresto" target="_blank">En savoir plus</a>
  </div>
  <div class="drive">
    <p>A 10 kms</p>
  </div>
</div>
<p class="autres-resto">De nombreux autres restaurants existent aux alentours mais nous ne mettons que ceux que nous avons pu tester et apprécions nous-mêmes !</p>
