<div class="homepic">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593604849/Ours%20vert/ob_c2eaa4_2019-04-22-roppewiller-petit-colorado_m6emmm.jpg" alt="Ourvert">
  <h1 class="green">TARIFS</h1>
</div>
<div class="tarif-infos">
  <h2>Nous vous accueillons du 1er Avril au 31 Octobre</h2>
  <p class="t-infos">En Juillet et Août, location uniquement à partir de 1 semaine, le reste de l’année à partir de 2 nuits.</p>
</div>
<div class="saison-card">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593180189/Ours%20vert/Capture_d_e%CC%81cran_2020-06-26_a%CC%80_15.54.02_rwzxd2.png" alt="">
  <div class="mi-saison_text">
    <div class="pair-infos">
      <p>Avril-Juin et Septembre-Octobre</p>
      <p>525€/semaine</p>
    </div>
    <div class="pair-infos">
      <p>Nuitée (minimum deux)</p>
      <p>75€</p>
    </div>
  </div>
</div>
<div class="saison-card">
  <div class="mi-saison_text">
    <div class="pair-infos">
      <p>Juillet-Août</p>
      <p>630€/semaine</p>
    </div>
  </div>
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593606587/Ours%20vert/img_7784_800x600.jpg.800x800_q85_watermark-d41d8cd98f00b204e9800998ecf8427e_iujsgf.jpg" alt="">
</div>
<div class="tarifs-container">
  <div class="tarif-info">
    <h2>Forfait ménage</h2>
    <p>35€</p>
  </div>
  <div class="tarif-info">
    <h2>Taxe de séjour </h2>
    <p>2,5 % du coût de la nuitée/personne</p>
  </div>
</div>
<div class="tarif-div last">
  <h2>CONTACT</h2>
  <p>Contactez nous par téléphone ou par mail pour avoir plus de renseignements ou connaitre nos disponibilités</p>
  <p>téléphone : 06 46 34 67 36</p>
  <p>mail : jescoffres@gmail.com</p>
</div>

