<div class="meuble-infos">
  <h1 class="title">Tarifs</h1>
  <div class="line"></div>
  <h2>Nous vous accueillons du 01/04 au 31/10</h2>
  <p class="t-infos">En Juillet et Août, location uniquement à partir de 1 semaine, le reste de l’année à partir de 2 nuits</p>
</div>
<div class="tarifs-container">
  <div class="tarif-info">
    <p>Avril - Juin et Septembre - Octobre</p>
    <p>455€/semaine</p>
  </div>
  <div class="tarif-info">
    <p>Nuité (minimum deux)</p>
    <p>65€/semaine</p>
  </div>
  <!-- <div class="tarif-info">
    <p>Week-end (2 nuits minimum - hors vacances scolaires)</p>
    <p>160€</p>
  </div> -->
  <div class="tarif-info">
    <p>Juillet-Août </p>
    <p>560€/semaine</p>
  </div>
  <!-- <div class="tarif-info">
    <p>Mid-week (du dimanche après-midi au vendredi matin)</p>
    <p>320€</p>
  </div> -->
</div>
<div class="tarifs-container">
  <div class="tarif-info">
    <p>Forfait ménage</p>
    <p>35€</p>
  </div>
  <div class="tarif-info">
    <p>Taxe de séjour </p>
    <p>2,5 % du coût de la nuitée/personne</p>
  </div>
</div>
<div class="tarif-div">
  <h2>CONTACT</h2>
  <p> Appelez-nous pour avoir plus de renseignements ou connaitre nos disponibilités</p>
  <p> numéro de contact : 06 46 34 67 36</p>
</div>
