<div class="meuble-infos">
  <h1 class="title">Tarifs</h1>
  <div class="fineline"></div>
  <h2>Nous vous accueillons du 01/04 au 31/10</h2>
  <p class="t-infos">En Juillet et Août, location uniquement à partir de 1 semaine, le reste de l’année à partir de 2 nuits</p>
</div>
<div class="saison-card">
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593180189/Ours%20vert/Capture_d_e%CC%81cran_2020-06-26_a%CC%80_15.54.02_rwzxd2.png" alt="">
  <div class="mi-saison_text">
    <div class="pair-infos">
      <p>Avril-Juin et Septembre-Octobre</p>
      <p>455€/semaine</p>
    </div>
    <div class="pair-infos">
      <p>Nuité (minimum deux)</p>
      <p>65€</p>
    </div>
  </div>
</div>
<div class="saison-card">
  <div class="mi-saison_text">
    <div class="pair-infos">
      <p>Juillet-Août</p>
      <p>560€/semaine</p>
    </div>
  </div>
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1593180801/Ours%20vert/Capture_d_e%CC%81cran_2020-06-26_a%CC%80_15.54.20_fwxgzs.png" alt="">
</div>
<div class="tarifs-container">
  <div class="tarif-info">
    <p>Forfait ménage</p>
    <p>35€</p>
  </div>
  <div class="tarif-info">
    <p>Taxe de séjour </p>
    <p>2,5 % du coût de la nuitée/personne</p>
  </div>
</div>
<div class="tarif-div">
  <h2>CONTACT</h2>
  <p> Appelez-nous pour avoir plus de renseignements ou connaitre nos disponibilités</p>
  <p> numéro de contact : 06 46 34 67 36</p>
</div>

