.footer {
  // height: 200px;
  background-color: $very-light-green;
  position: relative;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-infos {
  margin-top: 44px;
  margin-left: 36px;
  line-height: 0.8;
}

.footer-links {
  display: flex;
  font-size: 14px !important;
  justify-content: space-between;
}

.footer p {
  font-size: 16px;
}

.footer a {
  color:white;
  font-size: 16px;
  text-decoration: underline;
}

.footer a:hover {
  color: white;
}

.footer p {color:white}

.mentions {
  position: absolute;
  left: 36px;
  bottom: 4px;
}

.plus {
  font-size: 12px !important;
  margin-top: 4px;
}

.right-footer {
  position: relative;
  top: 36px;
  right: 36px;
  text-align: right;
  width: 55%
}

.plusinfos{
  text-align: center;
  font-size: 18px !important;
}

@media only screen and (max-width: 800px) {
  .footer-flex {
    display: block;
  }

  .footer-infos {
    padding-top: 40px;
  }

  .footer-links {
    margin-top: 10px;
    width: 80%;
    margin-left: 36px;
  }

  // .mentions {
  //   margin-bottom: 0px !important;
  //   margin-left: 36px;
  //   margin-top: 4px;
  // }

  .right-footer {
    position: relative;
    width: 90%;
    top: 0;
    margin-top: 30px;
    margin-left: 36px;
  }

  .footer-links {
    width: 100%;
  }

  .footer-links > a {
    font-size: 12px !important;
  }

  .plusinfos {
    text-align: left;
    margin-left: 36px;
  }

  .mentions {
    bottom: 64px;
  }
}
