.footer {
  height: 200px;
  background-color: $very-light-green;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-infos {
  margin-top: 44px;
  margin-left: 36px;
  line-height: 0.8;
}

.footer-links {
  margin-top: 44px;
  width: 54%;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.footer p {
  font-size: 16px;
}

.footer a {
  color:white;
  font-size: 16px;
  text-decoration: underline;
}

.footer a:hover {
  color: white;
}

.footer p {color:white}

.mentions {
  margin-left: 36px;
  margin-top: 18px;
  opacity: 0.6;
}

.plus {
  font-size: 12px !important;
  margin-top: 4px;
}

@media only screen and (max-width: 800px) {
  .footer-flex {
    display: block;
  }

  .footer-infos {
    padding-top: 40px;
  }

  .footer-links {
    margin-top: 10px;
    width: 70%;
    margin-left: 36px;
  }

  .mentions {
    margin-bottom: 0px !important;
    margin-left: 36px;
    margin-top: 4px;
  }
}
