.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: green;
  font-size: 30px;
  padding-left: 18px;
}

.logo:hover {
  text-decoration: none;
  color: green;
}

.nav-links {
  display: flex;
  padding-right: 16px;
  padding-top: 8px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: green;
  padding-left: 34px;
}

.link:hover {
  text-decoration: none;
  color: green;
}
