.navbar {
  background-color: $light-green !important;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.navbar-collapse {
  display: block;
  margin: auto;
}

body > nav > a {
  width: 30%;
}


.nav-item {
  margin-right: 24px;
}

.active {
  color: white !important;
  background-color: $light-green !important;
}

.active:hover {
  color: white !important;
}

.logo {
  margin-left: 8px;
  margin-right: 300px;
  width: 50px;
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: #134418;
  font-size: 30px;
}

.link {
  color: $very-light-green;
}

.nav-item:hover {
  color: $very-light-green ;
}
